body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.height100 {
    height: 100%;
}


